In [30]:
a = (1, 'pom')

In [31]:
a[0]

1

In [32]:
a[1]

'pom'

In [33]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
b = ((1, 2, 3), ('a', 'b', 'c'), (True, True, False))

In [ ]:
b[1]

('a', 'b', 'c')

In [ ]:
b[2][2]

False

In [ ]:
for data in b:
    print(data)

(1, 2, 3)
('a', 'b', 'c')
(True, True, False)

In [ ]:
for x, y, z in b:
    print(f'x:{x}, y:{y}, z:{z}')

x:1, y:2, z:3
x:a, y:b, z:c
x:True, y:True, z:False

In [ ]:
def test_tuple(param):
    return param[0] + 1, param[1] + 'added'

In [ ]:
c, d = test_tuple((3, 'qom'))

In [ ]:
c

4

In [ ]:
d

'qomadded'

In [34]:
import numpy as np
def calc_tuple(x):
    y = np.sum(x)
    z = np.mean(x)
    return y, z

In [38]:
x = (1, 2, 3)
Tup = calc_tuple(x)
Tup

6
2.0